
@model Sport.Domain.Entities.NutritionList

@{ 
    int i = 1;
}
<div class="col-md-12">
    <div class="row">

        <table class="table table-responsive table-sm table-striped">
            <thead>
                <tr>
                    <th>Pazartesi </th>
                    <th>Salı</th>
                    <th>Çarşamba</th>
                    <th>Perşembe</th>
                    <th>Cuma</th>
                    <th>Cumartesi</th>
                    <th>Pazar</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.NutritionDays)
                {

                    <tr id="FoodAddButton">
                        <td id="1">
                            <a asp-action="AddFoodForThat" class="that" id="@i" name="@item.Id">Edit</a>
                        </td>
                        <td id="2">
                            <a asp-action="AddFoodForThat"class="that" id="@i" name="@item.Id">Edit</a>
                         
                        </td>
                        <td id="3">
                            <a asp-action="AddFoodForThat"class="that" id="@i" name="@item.Id">Edit</a>
                          
                        </td>
                        <td id="4">
                            <a asp-action="AddFoodForThat"class="that" id="@i" name="@item.Id">Edit</a>
                            
                        </td>
                        <td id="5">
                            <a asp-action="AddFoodForThat"class="that" id="@i" name="@item.Id">Edit</a>
                            
                        </td>
                        <td id="6">
                            <a asp-action="AddFoodForThat"class="that" id="@i" name="@item.Id">Edit</a>
                           
                        </td>
                        <td id="7">
                            <a asp-action="AddFoodForThat"class="that" id="@i" name="@item.Id" >Edit</a>
                            
                        </td>
                        @i++
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>



<script>

    $(document).ready(function () {

        $(".that").click(function {

            var thatId = $(".that").prop.name();
            var thatId = $(".that").prop.name();
        });


    });



</script>