@model IEnumerable<Sport.Domain.Entities.Food>

@{
    ViewData["Title"] = "Index";
}

<h4>Kayıtlı Besinleriniz</h4>

<p>
    <a asp-action="Create">Besin Ekle</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @*@Html.DisplayNameFor(model => model.Name)*@
                <label>İsim</label>
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.CaloriValue)*@
                <label>Kalori Değeri</label>
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.ProteinValue)*@
                <label>Protein Değeri</label>
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.CarbohydrateValue)*@
                <label>Karbonhidrat Değeri</label>
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.OilValue)*@
                <label>Yağ Değeri</label>
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.FiberValue)*@
                <label>Lif Değeri</label>
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.FoodPhoto)*@
                <label>Fotoğraf</label>
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.EnumFoodType)*@
                <label>Besin Tipi</label>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CaloriValue)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProteinValue)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CarbohydrateValue)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OilValue)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FiberValue)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FoodPhoto)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EnumFoodType)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Güncelle</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Detay</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Sil</a>
                </td>
            </tr>
        }
    </tbody>
</table>
